*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url(../../fonts/roboto/Roboto-Regular.ttf);
  }
@font-face {
    font-family: Roboto-Bold;
    src: url(../../fonts/roboto/Roboto-Bold.ttf);
  }

textarea { resize: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

#root{
    margin: 0;
    min-height: 100vh;

    /* display: flex;
    flex-direction: column; */

}

/* .main{
    flex: 1;
} */

body{
    font-family: Roboto;
}