.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.bold{
    font-family:  Roboto-Bold;
    font-weight: bolder;
    font-size: 1.1rem;
    /* color: yellow; */

}

.line-through{
    text-decoration: line-through;
}