* {
    box-sizing: border-box;
}

.home-page {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    padding-top: 40px;
}

.home-img {
    width: 50%;
    object-fit: contain;
    flex: 1;
    margin: 0 auto;
}

.home-txt {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-block-start: 8rem;
    margin-inline-start: 50px;
}

.home-txt h1 {
    margin-block-end: 50px;
    font-size: 2.1875rem;
}
.home-txt h3 {
    margin-block-end: 20px;
}

.gmail-keep-img img {
    max-width: 100px;
    min-width: 24px;
    object-fit: contain;
}

.gmail-keep-img img:hover {
    padding: 1px;
}

.gmail {
    margin-inline-end: 15px;
}

@media (max-width:800px) {
    .home-page {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .home-img {
        width: 70%;
    }

    .home-txt {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-block-start: 0;
        margin-inline-start: 0;
        margin: 0 auto;
        text-align: center;
    }
    

}
