* {
    box-sizing: border-box;
}

.home-page {
    height: 100vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-content: center;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
}

.home-img {
    width: 35%;
    object-fit: contain;
    flex: 1;
    margin: 0 auto;
}

.home-txt {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-block-start: 8rem;
    /* margin-inline-start: 50px; */
}

.home-txt h1 {
    margin-block-end: 50px;
    font-size: 2.1875rem;
}

.home-txt h3 {
    display: flex;
    align-self: center;
    margin-block-end: 20px;
}

.gmail-keep-img{
    display: flex;
    justify-content: space-evenly;
}

.gmail-keep-img img {
    width: 100px;
    /* min-width: 24px; */
    object-fit: contain;
}

.gmail-keep-img img:hover {
    padding: 1px;
}

.gmail {
    margin-inline-end: 15px;
}

@media (max-width:900px) {
    .home-img {
        width: 45%;
    }
}

/* .home-page {
    flex-direction: column;
}

    .home-txt {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-block-start: 0;
        margin-inline-start: 0;
        margin: 0 auto;
        text-align: center;
    }
    
} */

@media (max-width:700px) {
    .home-img {
        width: 55%;
    }
}

@media (max-width:600px) {
    .home-img {
        width: 65%;
    }
}

@media (max-width:500px) {
    .home-img {
        width: 85%;
    }
}
@media (max-width:400px) {
    .home-txt h1 {
        /* margin-block-end: 50px; */
        font-size: 1.5rem;
    }

  
}