.keep-list{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.keep-list > * {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    position: relative;

}

.keep-list > *:not(:first-child) {
    margin-left: 20px;
}