.note-tool-bar {
    display: flex;
    justify-content: space-around;
    margin-block-start: auto;

}

.note-tool-bar .delete-btn {
    width: 25px;
}

.note-tool-bar img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.note-tool-bar img:hover {
    padding: 1px;
}

.note-tool-bar img:active{
    color: aliceblue;
}
