
.note-txt{
    background-color: #FECB20;
    color: white;
    padding-top: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.note-txt textarea{
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    font-family: inherit;
    font-size: inherit;
    white-space: normal;
    overflow: visible;
    background-color: inherit;
    border: none;
    outline: none;
    width: 150px;

}