.note-video{
    background-color: #DE4B43;
    color: white;
}
.note-video iframe{
    object-fit: cover;
    border: none;
    border-radius: 5px;
    width: 100%;
    object-fit: contain;
    margin-block-end: 10px;  
}
