.todo-container{
    display: flex;
}
.todo-container span{
    margin-inline-start: 5px;
    color: #F63B34;
}

.todo-done {
    text-decoration-line: line-through;
}

.note-todos{
    background-color: #84D0C4;
}

.note-todos .check-input{
    height: 100%;
    margin-inline-end: 5px;
}


