.main-nav {
    display: flex;
    justify-content: flex-end;
    padding: 24px 100px;
    position: relative;
    background-color: white;
    border-bottom: 1px #eceff1 solid;
}

.main-nav img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.apps-icon {
    display: flex;
    position: relative;
    background-color: white;
    border: 1px #eceff1 solid;
    padding-right: 8px;
    top: 50px;
    right: 75px;
    /* flex-direction: column; */
    margin-right: 30px;
    border-radius: 10px;
}

.apps-icon img {
    padding-top: 5px;
    padding-left: 10px;
}