.main-navbar {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px #c0cbd3 solid;
    height: 50px;
    width: 100vw;
    z-index: 3;
}

.nav-icon {
    right: 0;
    /* width: 30px;
    height: 30px;   */
    padding: 10px 0;
    padding-left: 20px;
    align-items: center;
}

.nav-icon img {
    margin-right: 20px;
}

.app-logo {
    height: 35px;
    position: absolute;
    right: 53px;
}

.burger-icon {
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

.info-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.settings-icon {
    width: 20px;
    height: 20px;
    justify-self: end;
}

.burger-icon:hover {
    width: 21px;
    height: 21px;
    /* background-color: #d9e0e4; */
    /* border-radius: 20px; */
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    /* zoom: 150%; */
    /* margin-left: 60px; */
    /* padding-bottom: 20px; */
}

.apps-icon {
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    border: 1px #eceff1 solid;
    /* padding-right: 8px; */
    top: 60px;
    left: -100px;
    /* left: 0px; */
    /* flex-direction: column; */
    /* margin-right: 30px; */
    border-radius: 10px;
    box-shadow: -1px 0px 1px 0px;
}

.apps-icon img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.apps-icon img:hover {
    background-color: #d9e0e4;
    border-radius: 20px;
}

.apps-icon img {
    padding-left: 10px;
}

.apps-icon img:first-child {
    margin-left: 5px;
}

.apps-icon img:last-child {
    padding-right: 10px;
    margin-right: 5px;
}

@media (max-width: 400px) {
    .settings-icon {
        display: none;
    }
    .info-icon {
        display: none;
    }
}

@media (max-width: 300px) {
    .app-logo {
        right: 10px;
    }
}