.main-app {
    /* background-image: url("/apps/Mail/asset/img/background_2.jpeg"); */
    background-color: rgb(39, 36, 36);
    min-height: 100vh;
    background-size: cover;
    font-family: Roboto;
    display: flex;
}

.main-mail {
    flex: 1;
    width: 100vw;
    right: 8px;
    top: 90px;
    background-color: #3a3a3af8;
    color: #e8eaed;
    /* max-width: 800px; */
    /* text-align: center; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
}

.main-mail li {
    padding: 10px 0;
    list-style: none;
    cursor: pointer;
    font-family: Roboto;
    font-size: .875rem;
    letter-spacing: .2px;
}

.main-container {
    flex-direction: column;
}

.sort-select {
    height: min-content;
}



.side-bar {
    position: fixed;
    display: flex;
    left: 0;
    min-height: 100vh;
    width: 200px;
    background-color: #ffffff70;
    position: relative;
}

.reply-container {
    position: fixed;
    width: 300px;
    /* height: 300px; */
    bottom: 0;
    right: 100px;
    background-color: #5f6368;
}

.reply-container>* {
    display: flex;
    flex-direction: column;
}

.reply-form button {
    height: 40px;
}

.reply-form textarea {
    height: 200px;
    width: 300px;
}

.card-preview {
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    display: flex;
    position: relative;
}

.card-preview:hover {
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 12%);
    box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 12%);
    display: flex;
    position: relative;
    box-shadow: inset 1px 0 0 rgb(255 255 255 / 20%), inset -1px 0 0 rgb(255 255 255 / 20%), 0 0 4px 0 rgb(95 99 104 / 60%), 0 0 6px 2px rgb(95 99 104 / 60%);
    z-index: 2;
}

.preview-subject {}

.is-read {
    color: rgba(255, 255, 255, 1);
    background: rgba(51, 51, 51, 0.902);
}

.card-preview>* {
    padding-bottom: 10px;
}

.mail-details>* {
    padding-bottom: 20px;
}

.reply-list {
    border-top: #dadce0 solid 1px;
}


.unread-counts {
    z-index: 1;
    display: block;
    position: absolute;
    top: -20px;
    left: -13px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: black;
}

